﻿
@{
    ViewData["Title"] = "B task - Dashboard";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><a asp-action="Create" asp-route-count="10">Create list of persons</a></li>
    <li><a asp-action="List">View list of persons</a></li>
    <li><a href="">Show persons ageing report</a></li>
</ul>