﻿@model IEnumerable<dp.creasoft.b.web.Data.DTO.Person>

@{
    ViewData["Title"] = "List of persons";
}

<h2>List of persons</h2>
<h5><a asp-action="Index">Back</a></h5>

@if (Model != null && Model.Any())
{ 
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                </tr>
            }
            </tbody>
        </table>
}else{
    <div class="alert alert-warning">no data</div>
}